<!-- @dsCard group="Components" viewport="700x210" name="Tabs" subtitle="Underline navigation tabs" -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../../styles.css" />
</head>
<body>
<div id="root"></div>
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<script src="../cardshell.js"></script>
<script type="text/babel">
  const { Tabs } = window.SandhataDesignSystem_081a0e;
  const { CardShell } = window;

  const code = `<span class="t">const</span> [tab, setTab] = React.useState(<span class="s">"dashboard"</span>);

<span class="t">&lt;Tabs</span> <span class="p">value</span>={tab} <span class="p">onChange</span>={setTab} <span class="p">tabs</span>={[
  { <span class="p">value</span>: <span class="s">"dashboard"</span>, <span class="p">label</span>: <span class="s">"Dashboard"</span> },
  { <span class="p">value</span>: <span class="s">"forms"</span>, <span class="p">label</span>: <span class="s">"Forms"</span> },
  { <span class="p">value</span>: <span class="s">"cards"</span>, <span class="p">label</span>: <span class="s">"Product Cards"</span> },
]} /<span class="t">&gt;</span>`;

  function Demo() {
    const [tab, setTab] = React.useState("dashboard");
    return (
      <CardShell code={code}>
        <Tabs value={tab} onChange={setTab} tabs={[
          { value: "dashboard", label: "Dashboard" },
          { value: "forms", label: "Forms" },
          { value: "cards", label: "Product Cards" },
          { value: "mail", label: "Mail Interface" },
          { value: "bento", label: "Bento Grids" },
        ]} />
      </CardShell>
    );
  }
  ReactDOM.createRoot(document.getElementById("root")).render(<Demo/>);
</script>
</body>
</html>
